html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body > header {
  cursor: default;
  user-select: none;
  flex: 0 1 auto;
  align-self: stretch;
}
body > header.main {
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.25);
}
body > main {
  flex: 1 1 auto;
  align-self: stretch;
  overflow: auto;
}
body > footer {
  cursor: default;
  user-select: none;
  flex: 0 1 auto;
  align-self: stretch;
  line-height: 60px;
}
body > footer.main {
  -webkit-box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
body > footer > .dropdown {
  line-height: initial;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.fs-7 {
  font-size: 0.75rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

.w-300-px {
  width: 300px !important;
}

.w-400-px {
  width: 400px !important;
}

.w-500-px {
  width: 500px !important;
}

.w-600-px {
  width: 600px !important;
}

.w-900-px {
  width: 900px !important;
}

.profile-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-image > img {
  width: 100%;
  height: 100%;
}
.profile-image.pi-placeholder {
  background-color: var(--bs-secondary-bg-subtle);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-image.pi-placeholder > svg {
  fill: var(--bs-secondary-text-emphasis);
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.signout-container {
  max-width: 600px;
  padding: 1rem;
}

.form-signin,
.form-signup {
  max-width: 330px;
  padding: 1rem;
}
.form-signin .form-floating:focus-within,
.form-signup .form-floating:focus-within {
  z-index: 2;
}
.form-signin .form-floating:first-of-type input,
.form-signup .form-floating:first-of-type input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .form-floating:not(:first-of-type):not(:last-of-type) input,
.form-signup .form-floating:not(:first-of-type):not(:last-of-type) input {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin .form-floating:last-of-type input,
.form-signup .form-floating:last-of-type input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Theme toggle styling */
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Error popover custom */
.custom-error-popover {
  --bs-popover-border-color: var(--bs-danger);
  --bs-popover-body-color: var(--bs-danger-text-emphasis);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

/* Posts on the front page */
.post-preview-container {
  height: 100%;
}
.post-preview-container > .card-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-preview-container > .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-preview-container > .card-body > .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.post-preview-container > .card-body > .post-content {
  overflow: hidden;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.post-preview-container > .card-body > .post-content > * {
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

/* Forum categories and posts */
.forum-container {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity));
  display: flex;
  flex-direction: column;
  border-radius: var(--bs-border-radius);
  margin-bottom: 2rem;
}
.forum-container > .header {
  cursor: default;
  user-select: none;
  padding: 1rem;
  background-color: var(--bs-secondary-bg-subtle);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
  position: sticky;
  top: 0;
  z-index: 1;
}
.forum-container > .header > .post {
  font-size: 1.25rem;
  font-weight: 600;
}
.forum-container > .no-items-container {
  cursor: default;
  user-select: none;
  text-align: center;
  margin: 2rem;
}
.forum-container > .items-container {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}
.forum-container > .items-container > div:nth-child(even) {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}
.forum-container > .items-container > div:last-child {
  border-bottom-right-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}
.forum-container > .items-container > .item-container {
  display: flex;
}
.forum-container > .items-container > .item-container.post:not(:first-child) {
  border-top: var(--bs-border-width) solid var(--bs-border-color);
}
.forum-container > .items-container > .item-container:last-child {
  border-bottom: none;
}
.forum-container > .items-container > .item-container:last-child > .item.icon {
  border-bottom-left-radius: var(--bs-border-radius);
}
.forum-container > .items-container > .item-container > .item {
  padding: 0.5rem;
}
.forum-container > .items-container > .item-container > .item.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-bg-opacity: 0.15;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}
.forum-container > .items-container > .item-container > .item.info {
  flex-grow: 1;
}
.forum-container > .items-container > .item-container > .item.info > a {
  text-decoration: none;
}
.forum-container > .items-container > .item-container > .item.info > a > p {
  margin: 0;
}
.forum-container > .items-container > .item-container > .item.info > a > p.title {
  font-weight: bold;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity));
}
.forum-container > .items-container > .item-container > .item.info > a > p.description {
  color: var(--bs-emphasis-color);
}
.forum-container > .items-container > .item-container > .item.info.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forum-container > .items-container > .item-container > .item.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forum-container > .items-container > .item-container > .item.count, .forum-container > .items-container > .item-container > .item.dateAuthor {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  flex-direction: column;
  text-align: center;
  font-size: 0.85rem;
  color: var(--bs-secondary-text-emphasis);
}
.forum-container > .items-container > .item-container > .item.count > p, .forum-container > .items-container > .item-container > .item.dateAuthor > p {
  margin: 0;
}
.forum-container > .items-container > .item-container > .item.postprofile {
  cursor: default;
  user-select: none;
  width: 22%;
  flex-shrink: 0;
}
.forum-container > .items-container > .item-container > .item.postprofile > .profile-image {
  width: 80px;
  height: 80px;
}
.forum-container > .items-container > .item-container > .item.postprofile > p {
  margin: 0;
}
.forum-container > .items-container > .item-container > .item.postprofile > p.post-count {
  font-size: 0.75rem !important;
  color: var(--bs-secondary-text-emphasis);
}
.forum-container > .items-container > .item-container > .item.postcontent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.forum-container > .items-container > .item-container > .item.postcontent > .header {
  cursor: default;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--bs-border-width) dashed var(--bs-border-color);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.forum-container > .items-container > .item-container > .item.postcontent > .content {
  flex-grow: 1;
}
.forum-container > .items-container > .item-container > .item.postcontent > .content > blockquote {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: var(--bs-body-color);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.forum-container > .items-container > .item-container > .item.postcontent > .content > blockquote > p {
  margin: 0;
}
.forum-container > .items-container > .item-container > .item.postcontent > .signature {
  cursor: default;
  user-select: none;
  margin-top: 0.5rem;
  border-top: var(--bs-border-width) dashed var(--bs-border-color);
  color: var(--bs-secondary-text-emphasis);
}
.forum-container > .items-container > .no-items-container {
  cursor: default;
  user-select: none;
  border-top: var(--bs-border-width) solid var(--bs-border-color);
  text-align: center;
  padding: 2rem;
}
.forum-container > .items-container > .no-items-container > p {
  margin: 0;
}
.forum-container > .items-container > .new-comment-container {
  padding: 1rem 2rem;
  border-top: var(--bs-border-width) solid var(--bs-border-color);
}

/* EasyMDE changes to work with boostrap theme */
.EasyMDEContainer.is-invalid {
  --bs-border-color: var(--bs-form-invalid-border-color);
}
.EasyMDEContainer .editor-toolbar {
  border-top: var(--bs-border-width) solid var(--bs-border-color);
  border-left: var(--bs-border-width) solid var(--bs-border-color);
  border-right: var(--bs-border-width) solid var(--bs-border-color);
  background-color: var(--bs-card-cap-bg);
}
.EasyMDEContainer .editor-toolbar.fullscreen {
  background-color: rgba(var(--bs-tertiary-bg-rgb), 1);
}
.EasyMDEContainer .editor-toolbar button.active,
.EasyMDEContainer .editor-toolbar button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-color: #95a5a6;
}
.EasyMDEContainer .editor-preview {
  background-color: var(--bs-body-bg);
}
.EasyMDEContainer .CodeMirror {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  user-select: none;
}
.EasyMDEContainer .CodeMirror .CodeMirror-cursors {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));
}
.EasyMDEContainer .CodeMirror .CodeMirror-cursors > .CodeMirror-cursor {
  border-left-color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));
}
.EasyMDEContainer .CodeMirror .CodeMirror-selected {
  background: #073ba6;
}

/*# sourceMappingURL=site.css.map */
