@model RareForum.Models.Post
@using Westwind.AspNetCore.Markdown

@{
    Dictionary<string, string> postParameter = new()
    {
        { "categoryId", Model.CategoryId.ToString() },
        { "id", Model.PostId.ToString() }
    };
}

<div class="col">
    <div class="card shadow-sm post-preview-container">
        <div class="card-header">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="card-body">
            <div class="post-content">@Markdown.ParseHtmlString(Model.Content)</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-controller="Posts"
                       asp-action="Index"
                       asp-all-route-data="postParameter"
                       class="btn btn-sm btn-outline-secondary">Go to post</a>
                </div>
                <small class="text-body-secondary">@Model.CreatedDate!.Value.ToShortDateString()</small>
            </div>
        </div>
    </div>
</div>