
@{
    ViewData["Title"] = "About";
}

<div class="container py-3 text-center w-50">
    <h1 class="text-center border-bottom pb-2 mb-2 w-75 mx-auto">About Us</h1>
    <p class="fst-italic fw-medium text-primary-emphasis">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>
        Fusce eleifend mauris et tortor pellentesque ullamcorper nec ut odio. <br/>
        Cras justo metus, porttitor in ullamcorper quis, tempus a dolor.
    </p>
    <h2 class="text-center mb-2 mt-5 w-75 mx-auto">
        Who We Are
    </h2>
    <p>
        Maecenas sed iaculis diam. Nunc id tortor metus. Cras tincidunt, neque pretium consectetur rhoncus, tellus dui ornare nisi, a luctus nibh mi at justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent in odio eget mauris scelerisque semper et placerat ligula. Curabitur auctor posuere nulla et rhoncus. Sed porta sapien id euismod posuere. Donec fringilla faucibus ipsum quis sodales. Mauris facilisis eros justo. Curabitur est mauris, elementum id tincidunt ac, pretium ut nunc.
        <br/><br/>
        Vivamus cursus ligula non consectetur ornare. Cras a lacus iaculis, posuere libero quis, tristique dui. Duis ultricies lacus ac vehicula maximus. Fusce quis ex bibendum metus tincidunt pulvinar non at urna. Duis mollis leo at consectetur pretium. Duis eget elit sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis nunc eu ex egestas gravida. Vivamus ac nulla mi. Quisque volutpat ut tortor a vehicula. Aliquam odio augue, ultrices sed nibh vel, convallis vulputate diam. Donec quam urna, fringilla vitae eros volutpat, blandit vulputate orci. Donec turpis enim, aliquet sit amet mauris porta, pretium laoreet tortor.
    </p>
    <h2 class="text-center mb-2 mt-5 w-75 mx-auto">
        Why are we here
    </h2>
    <p>
        Donec sed commodo eros, sollicitudin pharetra sem. Aenean vitae dui ut ex aliquam luctus. Sed sit amet quam sit amet enim auctor dapibus sed ac nibh. Sed vitae vehicula orci. Integer id nulla lacus. Phasellus luctus odio ut massa commodo congue. Etiam vel diam arcu. Donec et ante risus. Cras placerat nunc eu dui ornare interdum. Praesent at diam mauris. Praesent et felis quam. Donec in auctor felis. Vivamus ultricies eros sed metus malesuada, sed dignissim augue tincidunt.
        <br/><br/>
        Cras leo magna, maximus quis luctus quis, interdum non risus. Ut elit mauris, facilisis sed libero non, lacinia faucibus orci. Maecenas fermentum, nisl ac auctor convallis, nisl est aliquet tortor, id ultrices sapien metus in ex. Nunc aliquet massa id tortor semper viverra. Maecenas et nunc at leo pretium congue. Mauris tincidunt risus ut tortor molestie, tristique posuere arcu rhoncus. Morbi vitae elit ut diam malesuada consectetur non sed turpis. Aliquam at dui sed sem lobortis convallis non et odio. Donec eu tortor est.
    </p>
    <h2 class="text-center mb-2 mt-5 w-75 mx-auto">
        Our plans for the future
    </h2>
    <p>
        Praesent ex neque, posuere vel sapien nec, posuere imperdiet turpis. Nullam sit amet elit eu purus semper tincidunt at vel enim. Praesent dui est, vestibulum sed mi eu, semper consectetur lectus. Vestibulum eget ipsum magna. In varius odio arcu, et faucibus enim accumsan sed. Vestibulum felis ante, faucibus sed nibh sed, condimentum gravida ligula. Praesent sagittis nulla quis erat volutpat, nec hendrerit nulla facilisis. Suspendisse eget rutrum nisi. Curabitur laoreet porta ante, non feugiat dui sollicitudin eget. Nunc vitae augue at est imperdiet varius. Suspendisse potenti. Duis quis felis justo. Suspendisse posuere, lacus nec gravida tempus, libero orci feugiat turpis, ut egestas ipsum tellus sit amet est. Nullam at nunc vitae mi pharetra venenatis. Mauris luctus lectus et sodales finibus. Aliquam bibendum laoreet nulla, in pretium purus vulputate ut.
    </p>
</div>