
@{
    ViewData["Title"] = "Logout";
}
<div class="d-flex align-items-center py-4">
    <main class="signout-container w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal text-center">You have successfully logged out!</h1>
        <hr class="mt-4" />
        <div class="text-center">Forgot why you logged out? <a asp-area="" asp-controller="Auth" asp-action="Login">Login again here!</a></div>
        <div class="text-center">Want to just go home? <a asp-area="" asp-controller="Home" asp-action="Index">Click me!</a></div>
    </main>
</div>